.stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars:hover {
  cursor: pointer;
}

.half-star {
  width: 36px;
}

.hs-2xl {
  width: 36px;
}

.hs-xl {
  width: 27px;
}

.hs-lg {
  width: 22.5px;
}
