.review-content {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.movie-poster {
  border-radius: 10px;
  position: sticky;
  top: 130px;
}

.movie-poster:hover {
  cursor: pointer;
}

.review-details {
  width: 80%;
}

.title-movie-poster {
  display: none;
}

.username-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.rating-heart {
  display: flex;
  gap: 15px;
}

.user-title-movie-poster {
  display: none;
}

.title-section h2 {
  font-size: 1.8rem;
}

.heart {
  color: var(--hot-pink);
}

.title-text {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  padding: 0 5px;
}

.year {
  font-size: 2.3rem;
  padding: 0 5px;
}

.title-section h3 {
  font-size: 1.2rem;
  font-style: italic;
  padding-bottom: 10px;
}

.director {
  font-weight: 600;
}

.review-section {
  margin-top: 30px;
}

.date {
  margin-bottom: 20px;
  font-style: italic;
}

.comment-section {
  font-style: italic;
}

.submit-comment {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.submit-comment-button {
  margin-right: 0 !important;
}

.comments-title {
  font-family: 'Audiowide', cursive;
  font-size: 2rem;
  padding-bottom: 15px;
}

.comment-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.no-comments {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Audiowide', cursive;
}

@media screen and (max-width: 1500px) {
  .title-text {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px;
  }
  
  .title {
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  .movie-poster-div {
    display: none;
  }

  .title-movie-poster {
    display: block;
  }

  .review-content {
    justify-content: center;
  }

  .title-section {
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 2rem;
  }

  .user-title-data {
    width: 50%;
  }

  .username-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
}

@media screen and (max-width: 600px) {
  .title-section {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .title-movie-poster {
    display: none;
  }

  .user-title-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user-title-movie-poster {
    display: block;
  }

  .user-title-movie-poster .movie-poster {
    height: 300px;
    width: auto;
  }

  .username-section {
    gap: 10px;
    margin-bottom: 20px;
  }

  .title-text {
    text-align: center;
  }

  .title-text h3 {
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .comment-title {
    flex-direction: column;
  }
}