.login-form {
  background-color: white;
  border: 1px solid var(--light-grey);
  box-shadow: 5px 5px #888888;
  border-radius: 10px;
  padding: 25px;
  max-width: 400px;
  margin: 7% auto 0;
}

@media only screen and (max-width: 440px) {
  .login-form {
    margin: 10% 20px 0;
  }
}

.login-form h1 {
  font-size: 2rem;
  margin: 25px 0;
}

.login-form input {
  margin-bottom: 20px;
}

.login-form p {
  color: grey;
  margin-top: 25px;
}

.show-error {
  display: block;
  color: red !important;
}

.dont-show-error {
  display: block;
  visibility: hidden;
}

.login-form p span {
  color: black;
}

.login-form p span:hover {
  cursor: pointer;
}