.wrapper {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  height: 85px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper h2 {
  font-family: 'Audiowide', cursive;
  font-size: 1.5rem;
}

.wrapper p {
  text-align: right;
}

.single-page {
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 650px) {
  .wrapper {
    height: 150px;
  }
}