.navbar {
  position:relative;
  z-index: 1;
  background-color: white;
  padding: 10px 20px;
  font-family: 'Audiowide', cursive;
  box-shadow: 0px 0px 9px var(--light-grey);
}

.nav-flex {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .nav-flex {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .dropdown {
    align-self: flex-end;
  }
}

.main-nav {
  display: flex;
  gap: 20px;
}

.logo:hover {
  cursor: pointer;
}

.main-nav-links {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.main-nav-links a:hover {
  text-decoration: underline;
}

.dropdown {
  display: flex;
  align-items: center;
  color: black;
}

.dropdown a:hover {
  text-decoration: underline;
}

.auth-menu {
  font-family: 'Audiowide', cursive;
}

.bell {
  margin-right: 15px;
}

.bell:hover {
  cursor: pointer;
}

.small-auth-menu {
  display: none;
}

.logout:hover {
  text-decoration: underline;
}

.auth {
  display: flex;
  align-items: center;
  gap: 20px;
}

.register {
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
  transition: ease 0.2s;
}

.register:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.register a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1500px) {
  .main-nav-links {
    display: none;
  }

  .small-auth-menu {
    display: block;
  }
}