.navbar {
  position:relative;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  font-family: 'Audiowide', cursive;
}

@media only screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
  }

  .dropdown {
    align-self: flex-end;
  }
}

.main-nav {
  display: flex;
  gap: 20px;
}

.logo:hover {
  cursor: pointer;
}

.main-nav-links {
  display: flex;
  gap: 20px;
  padding-top: 20px;
}

.mag-glass {
  display: none;
}

.dropdown {
  display: flex;
  align-items: center;
  color: black;
}

.auth-menu {
  font-family: 'Audiowide', cursive;
}

.bell {
  margin-right: 15px;
}

.bell:hover {
  cursor: pointer;
}

.small-auth-menu {
  display: none;
}

.logout:hover {
  text-decoration: underline;
}

.auth {
  display: flex;
  align-items: center;
  gap: 20px;
}

.register {
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
  transition: ease 0.2s;
}

.register:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.register a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1100px) {
  .main-nav-links {
    display: none;
  }

  .mag-glass {
    display: inline;
    margin-right: 10px;
  }

  .mag-glass > a:hover {
    text-decoration: none;
  }

  .small-auth-menu {
    display: block;
  }
}