.pagination {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
}

.left-buttons, .right-buttons {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.page-button:hover {
  cursor: pointer;
  transform:scale(1.3);
}

.current-page {
  font-weight: bold;
}