.sub-hero {
  display: flex;
  gap: 15px;
}

.movie-poster {
  border-radius: 10px;
  position: sticky;
  top: 130px;
}

.movie-content {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .movie-poster-div {
    display: none;
  }

  .movie-content {
    width: 100%;
  }
}