.wrapper {
}

.section-title {
  font-size: 2rem;
}

.year {
  font-weight:400;
}

.rating-label {
  display: flex !important;
  justify-content: space-between;
}

.star:hover {
  cursor: pointer;
}

.dim-star {
  color: var(--light-grey);
}

.half-star {
  width: 36px;
}