.wrapper {
  display: flex;
  justify-content: space-around;
}

.rating-review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.like {
  align-self: center;
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.like:hover {
  font-weight: bold;
  cursor: pointer;
}

.heart {
  color: var(--hot-pink);
  cursor: pointer;
}

.hidden {
  display: none;
}

.shown {
  display: inline;
}

.add-to-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section-title {
  font-size: 2rem;
}

.year {
  font-weight:400;
}

.rating-label {
  display: flex !important;
  justify-content: space-between;
}

.submit-review {
  margin: 0 0 0 20px;
}