.quote-section {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  height: 200px;
  margin-top: 75px;
}

.quote-pic {
  display: flex;
  justify-content: space-around;
  transition: 2s ease-in;
  opacity: 100%;
}

.shown {
  opacity: 100%;
}

.hidden {
  opacity: 0;
  transition: 5s ease-in;
}

.quote {
  padding-top: 60px;
  width: 500px;
  font-size: 1.3rem;
  text-align: center;
}

.movie {
  font-size: 1rem;
  text-align: right;
  padding-top: 15px;
  font-style: italic;
}

.pic {
  margin-top: -60px;
  height: 320px;
  width: auto;
}

.features-section {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}

.features {
  width: 40%;
}

.feature {
  /* border: solid 1px black; */
  height: 110vh;
  padding: 100px 50px 0;
  text-align: center;
}

.last-feature {
  height: 65vh !important;
}

.feature h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Audiowide', cursive;
  text-shadow: 4px 4px 2px var(--light-grey);
  margin-bottom: 30px;
}

.feature > div {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.feature p {
  text-shadow: 3px 3px 3px var(--light-grey);
  margin-bottom: 10px;
}

.feature span {
  font-size: 1.3rem;
  text-shadow: 3px 3px 3px var(--light-grey);
}

.column-feature-img {
  display: none;
}

.feature-img-section {
  /* border: solid 1px black; */
  width: 60%;
}

.feature-img {
  position: sticky;
  top: 30vh;
  margin: 100px auto 0;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .feature-img-section {
    display: none;
  }

  .column-feature-img {
    display: block;
    margin-top: 40px;
  }

  .features {
    width: 100%;
  }

  .feature {
    height: 75vh;
  }

  .last-feature {
    height: 75vh !important;
  }
}

@media only screen and (max-width: 850px) {
  .quote-pic {
    flex-direction: column-reverse;
    align-items: center;
  }

  .pic-div {
    display: flex;
    justify-content: center;
  }

  .quote {
    color: var(--dark-grey);
    padding-top: 30px;
    width: 90%;
  }

  .features-section {
    margin-top: 200px;
  }
}